@font-face {
    font-family: bebas;
    src: url(BebasNeue-Regular.otf);
  }

.avatar {
    animation: pulse;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
    animation-iteration-count: 1;
    animation-delay: 0.5s;
}

.animation_badgerecru {
    animation: pulse;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.4s;
    /* don't forget to set a duration! */
    animation-iteration-count: 2;
    animation-delay: 0.4s;
}

.theme-29 {
    background-color: #F5F5F1;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat
}

.theme-29 .smartpage-container {
    color: #000
}

.theme-29 .smartpage-container,
.theme-29 .smartpage-container .bio-"title",
.theme-29 .smartpage-container h1,
.theme-29 .smartpage-container h2,
.theme-29 .smartpage-container h3,
.theme-29 .smartpage-container h4 {
    color: #000
}

.theme-29 .smartpage-container .bio-title h1,
.theme-29 .smartpage-container .bio-title h2,
.theme-29 .smartpage-container .bio-title h3,
.theme-29 .smartpage-container .bio-title h4 {
    color: #000
}

.theme-29 .smartpage-container .powered-by-shorby .shorby-logo:before {
    border-color: #000
}

.theme-29 .smartpage-container .block-item.layout-button {
    background: #26D07C;
    color: #fff
}

.smartpage-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 16px;
    padding-top: 0px
}

.smartpage-container ol,
.smartpage-container ul,
.smartpage-container dl,
.smartpage-container li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.smartpage-container,
.smartpage-container h1,
.smartpage-container h2,
.smartpage-container h3,
.smartpage-container h4,
.smartpage-container h5,
.smartpage-container h6,
.smartpage-container .h1,
.smartpage-container .h2,
.smartpage-container .h3,
.smartpage-container .h4,
.smartpage-container .h5,
.smartpage-container .h6 {
    color: #000
}

.smartpage-container .page-header {
    width: 100%;
    position: relative
}

.smartpage-container .avatar {
    display: block;
    width: 105px;
    /*height: 100px;*/
    /* border-radius: 100px; */
    margin: 16px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    object-fit: cover;
    position: relative;
    cursor: pointer
}

.smartpage-container .fa-network {
    font-size: 1.4em;
    margin-bottom: -0.2em
}

.smartpage-container .social-links {
    text-align: center;
    font-size: 1.4em
}

.smartpage-container .social-links .social-item {
    display: inline-block;
    padding: 21px 8px;
    margin: 0;
    width: 19.333%;
    text-align: center
}

.smartpage-container .social-links .social-item a,
.smartpage-container .social-links .social-item span {
    cursor: pointer;
    color: inherit
}

.smartpage-container .social-links .social-item .fa-network {
    width: 1em;
    height: 1em
}

.smartpage-container .links-block {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    padding-bottom: 16px
}

.smartpage-container .links-block.loading {
    display: none
}

.smartpage-container .block-item {
    display: block;
    transition: transform 0.5s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer
}

.smartpage-container .block-item:hover {
    text-decoration: none
}

.smartpage-container .block-item a {
    color: inherit
}

.smartpage-container .block-item a:hover {
    text-decoration: none
}

.smartpage-container .block-item.highlight {
    animation: 5s tada 0.5s infinite linear
}

.smartpage-container .block-item.highlight:focus,
.smartpage-container .block-item.highlight:active,
.smartpage-container .block-item.highlight:hover {
    animation: none
}

.smartpage-container .block-item.hide {
    display: none
}

.smartpage-container .block-item .fa-block-icon,
.smartpage-container .block-item .fa-network {
    vertical-align: middle;
    display: inline-block;
    font-size: 24px;
    margin-top: -7px;
    margin-bottom: -7px
}

.smartpage-container .block-item .fa-block-icon+span,
.smartpage-container .block-item .fa-block-icon+a,
.smartpage-container .block-item .fa-network+span,
.smartpage-container .block-item .fa-network+a {
    margin-left: 0.6em
}

.smartpage-container .block-item.block-item>span,
.smartpage-container .block-item.block-item>.block-content,
.smartpage-container .block-item.block-item>a {
    display: inline-block;
    padding: 16px 24px
}

.smartpage-container .block-item:active,
.smartpage-container .block-item:focus {
    transform: scale(0.96)
}

.smartpage-container .block-item.layout-text {
    padding: 16px 14px;
    padding-bottom: 0;
    cursor: inherit
}

.smartpage-container .block-item.layout-text .block-title,
.smartpage-container .block-item.layout-countdown .block-title {
    font-size: 20px;
    margin: 0;
    padding: 0
}

.smartpage-container .block-item.layout-text .block-text,
.smartpage-container .block-item.layout-countdown .block-text {
    font-size: 15px
}

.smartpage-container .block-item.layout-text .block-text p,
.smartpage-container .block-item.layout-countdown .block-text p {
    margin-bottom: 16px
}

.smartpage-container .block-item.layout-text .block-title+.block-text p:first-child,
.smartpage-container .block-item.layout-countdown .block-title+.block-text p:first-child {
    margin-top: 16px
}

.smartpage-container .block-item.layout-text:active,
.smartpage-container .block-item.layout-text:focus,
.smartpage-container .block-item.layout-feed:active,
.smartpage-container .block-item.layout-feed:focus {
    transform: scale(1);
    cursor: inherit
}

.smartpage-container .block-item.layout-button,
.smartpage-container .block-item.layout-button-thumbnail,
.smartpage-container .block-item.layout-button-image-bg,
.smartpage-container .block-item.layout-card,
.smartpage-container .block-item.layout-countdown.card-style {
    background: #000;
    color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.2);
    font-weight: bolder
}


.smartpage-container .powered-by-shorby {
    text-align: center;
    font-size: .8em;
    padding: 16px 24px
}

.smartpage-container .powered-by-shorby>span,
.smartpage-container .powered-by-shorby>a {
    cursor: pointer
}

.smartpage-container .powered-by-shorby a {
    color: inherit;
    text-decoration: none
}

.smartpage-container .powered-by-shorby a:hover,
.smartpage-container .powered-by-shorby a:active,
.smartpage-container .powered-by-shorby afocus {
    color: inherit;
    text-decoration: none
}

.smartpage-container .powered-by-shorby .shorby-logo {
    font-size: 1.2em;
    color: inherit
}

.smartpage-container .powered-by-shorby .shorby-logo:before {
    border-color: #000
}

.smartpage-container {
    position: relative;
    z-index: 10
}

/* ----- Import Font -------- */

@font-face {
    font-family: "dimboo";
    src: url("./Croco'Magnon Online version_files/dimbo.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}


/* ------- Check Box DIV -------- */
#checkBoxStyle {
    display: block;
    text-align: center;
}


/* ------- checkbox -------- */

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.label-text {
    margin-left: 16px;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
        -8px -4px 8px 0px #ffffff,
        8px 4px 12px 0px #d1d9e6,
        4px 4px 4px 0px #d1d9e6 inset,
        -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
        -8px -4px 8px 0px hsl(0, 0%, 100%),
        8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked~.indicator {
    transform: translate3d(25%, 0, 0);
}

/* __________ Personnalisation des Badges _________ */

#Block_rouge {
    background-color: #f13c3c;
}

#Block_gris {
    background-color: #2c2c2c;
}

#Block_jaune {
    background-color: #03A659;
}

#Block_bleu {
    background-color: #3c75f1;
}

#Block_rose {
    background-color: #eb43eb;
}

#Block_rose div {
    padding: 11px 24px;
}

#Block_recrutement {
    background-color: #f58634;
}

#Block_neoness {
    width: 100%;
    margin-right: 7px;

    background-color: #D61730;
}

#Block_fitnesspark {
    width: 100%;
    margin-left: 7px;

    background-color: #fbf9f2;
    color: #3B444B;
}

#Block_ForestHill {
    width: 176px;
    margin-top: 12px;

    background-color: #3DBCB1;
}

/* BORDURE ANIMÉE BADGE */
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 8px;
}

.rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 80% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
}

.rainbow::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #548CFF;
    border-radius: 5px;
}

.gradient-border {
    --border-width: 3px;
    position: relative;
    background: #222;
    border-radius: var(--border-width);
}

.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 12px;
    animation: moveGradient 2.3s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

/* ----- CSS Snippets -------- */

@font-face {
    font-family: "ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
}

.wrapper {
    text-align: center;

}

.wrapper h3 {
    color: #fff;
    font-size: 38px;
    font-family: "arial";
    /*text-transform: uppercase;*/
    font-weight: 700;
    font-family: arial, sans-serif;
    letter-spacing: -2px;
    /* background: linear-gradient(to right, #f1aa3c 10%, #f1aa3c 50%, #58af47 60%);

    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block; */
    margin: 0px;
}

#title {
    color: #002B0C ;
    font-family: bebas;
    letter-spacing: 2px;
}

#H2_JS_Style {
    font-weight: 100;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* Formulaire de texte */
.balise-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.form-group {
    display: flex;
    justify-content: center;
}

.purple-border textarea {
    width: 100%;
    border: 1px solid #58af47;
    resize: none;
    outline: none;
    border-radius: 5px;
}

.purple-border .form-control:focus {
    border: 1px solid #58af47;
    box-shadow: 0 0 0 0.2rem rgba(88, 175, 71, .25);
    border-radius: 5px;
    text-decoration: none;
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

/* -------------- --------------- */
#share {
    position: relative;
    top: -100px;
    left: 300px;

    width: fit-content;
    border-radius: 3px;

    box-shadow: -1px 7px 17px -12px rgba(0,0,0,0.65);
-webkit-box-shadow: -1px 7px 17px -12px rgba(0,0,0,0.65);
-moz-box-shadow: -1px 7px 17px -12px rgba(0,0,0,0.65);

}

#share svg {
    width: 31px;

    fill: #58af47;
}